[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
bs4 = "*"
openpyxl = "*"
flask-migrate = "*"
flask-wtf = "*"

[dev-packages]

[requires]
python_version = "3.8"
